{% extends "base.html" %}
{% block body %}
<div class="container">
    <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>选择上传文件</span>
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
    <!-- 进度条 -->
    <div id="progress" class="progress progress-success progress-striped">
        <div class="bar"></div>
    </div>
    <!-- 已经上传的文件列表 -->
    <div id="files"></div>    
</div>
{% endblock %}
