{% extends "../base.html" %}
{% block body %}
    <div class="col-md-offset-4 col-md-3  container" id='login'>
        <form action='/login' method='post' role='form' class="form-sigin" id='loginForm'>
            <h2 class="form-sigin-heading">欢迎登录</h2>
	    <span>用户名</span>
            <input type="text" placeholder="username" class="form-control" name='username' required autofocus>
            <br/>
	    <span>密码</span>
            <input type="password" class="form-control" placeholder="password" name='passwd' required>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>
{% endblock %}
