{% extends "base.html" %}
{% block body %}
 <form id="s_id" action="search" class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="请输入IP" name="ip" required="required">
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>
<nav>
  <ul class="pager">
    <li class="next"><a href="/uploadfile">上传<span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
 <table id='listTable' class="table table-striped table-bordered">
 </table>
  <div class="modal fade" id="modifyModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">修改</h4>
        </div>
        <div class="modal-body">
           <!-- <p id="up_errorMsg" class="text-danger"></p> -->
          <form  class="form-horizontal" id='modifyForm'>
            <input type="hidden" id='idInput' name='id'>
            <div class="form-group">
              <label for="" class="control-label col-md-2">IP</label>
              <div class="col-md-4">
                <!---
                <input placeholder='请输入用户名' id='subip' type="text" class="form-control" name=''>
                --->
               <p id='subip' class="form-control-static"></p> 
              </div>
            </div>
						 <div class="form-group">
              <label for="" class="control-label col-md-2">Status</label>
              <div class="col-md-4">
              <input  id='status' type="text" class="form-control" name='status'>
              <!-- 
                <div class="dropdown">
                 <button class="btn btn-default dropdown-toggle"  type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                   Default
                   <span class="caret"></span>
                 </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" name='status'>online</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">offline</a></li>
                    </ul>
                </div>
              -->
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-4">
                <button class="btn btn-primary" type="submit">更新</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 <script>
 	$('#s_id').on('submit',function(){
 		var str = $('#s_id').serialize()
 		var url = '/search?' + str
 		$.get(url,function(res){
 			$('#listTable').html(res)
 		})
		return false
 	})
	$(document).on('click','.modify-btn',function(){
		var id = $(this).attr('data-id')
		var url = '/modify?id=' + id
		$.getJSON(url,function(res){
			$('#idInput').val(res['id'])
			//$('#subip').val(res['ip'])
            $('#subip').html(res['ip'])
			$('#status').val(res['status'])
			$('#modifyModal').modal('show')
		})

	})
    $('#modifyForm').on('submit',function(){
        var str = $('#modifyForm').serialize()
        var url = '/updata?' + str
        $.get(url,function(res){
            $('#listTable').html(res) 
            $('#modifyModal').modal('hide')
        })
        return false  
    
    })


    // $('#selectone').on('change',function(){
    //   alert($(this).val())
    // })
    // $.get('/info',function(str){
    //   $('#selectone').html(str)
    // })
  </script>
{% endblock %}
