<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dev Ops Admin Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendor/metismenu/metisMenu.min.css">
    <link rel="stylesheet" href="../static/vendor/sb-admin-2/css/sb-admin-2.css">
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Dev Ops</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">运维首页</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right" id="personal_info">
            <!-- message -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    消息
                </a>
                <!-- /.message  -->
                <ul class="dropdown-menu dropdown-messages">
                    <li v-for="message in messages">
                        <a href="#">
                            <div>
                                <strong>{{ message.sender }}</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>{{ message.content }}</div>
                        </a>
                    </li>
                    <!-- <li class="divider"></li> -->
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- task -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    任务
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li v-for="task in tasks">
                        <a href="#">
                            <div>
                                <p>
                                    <strong>{{ task.name }}</strong>
                                    <span class="pull-right text-muted">{{ task.completion }} Complete</span>
                                </p>

                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                         aria-valuenow="{{ task.completion }}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 20%">
                                        <span class="sr-only">{{ task.completion }} Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>

            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户资料</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>登出</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>运维看板</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i>资产管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">资产列表</a>
                            </li>
                            <li>
                                <a href="#">添加资产</a>
                            </li>
                            <li>
                                <a href="#">删除资产</a>
                            </li>
                            <li>
                                <a href="#">修改资产配置<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">资产种类修改</a>
                                    </li>
                                    <li>
                                        <a href="#">资产种类属性修改</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</div>
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/vue/vue.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/vendor/metismenu/metisMenu.js"></script>
<script src="../static/vendor/sb-admin-2/js/sb-admin-2.js"></script>
<script src="../static/js/message.js"></script>
</body>
</html>
